<!DOCTYPE html>
<html lang="pt-br">

    <%- include('../partials/head'); %> 

<body>

    <%- include('../partials/header'); %> 

    <main id="body">

        <div class="content2">
            <h1 class=title>Lorem ipsum dolor sit amet</h1>
            <span class="details">26/07/2020 às 00:04 - By: Fulano</span>
            <img class="post-thumbnail" src="img1.png" alt="teste">
            <p class="p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus quis augue elementum
                vestibulum. Nam a orci erat. Aenean arcu mauris, finibus a rutrum quis, commodo sollicitudin nibh. Morbi
                diam lacus, suscipit nec maximus et, tincidunt at quam.

                Curabitur sit amet euismod mi. Duis dictum vel ipsum vel tempus. Etiam diam nisl, feugiat ornare enim
                ac, aliquam ultrices erat. Nam tincidunt cursus dui. Integer varius nisi quis dui commodo, vitae euismod
                nisi elementum. Vivamus tincidunt id massa eget blandit.</p>
                <p class="p2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque enim dignissimos magni perferendis provident aliquid hic iure. Corrupti ut dolorum harum ipsam, eaque incidunt et magni ea, sunt ipsa blanditiis.</p>
                <p class="p">final</p>     
                <!-- lançar value=" ejsout" no input -->       
        </div>
        <form action="">
            <h2 class="titulocoment">Comentarios</h2>
        <input id="inp2" type="text" placeholder="    Nome">
        <input id="inp" type="text" placeholder="    Email">
        <input id="comentario" type="text" placeholder="    Escreva">
        <a class="linkb2" href="#"><button class="b">Comentar</button></a> 
        </form>
        
        
        <!-- comentarios do site -->
        <div class="content2"><p class="p2">dsafsaf</p></div>

        <%- include('../partials/menu'); %> 
    </main>

    <%- include('../partials/footer'); %> 

</body>

</html>