<aside id="menu">
    <input id="inp" type="text" placeholder="    Pesquise aqui">
    <ul id="tema">
        <h2 class="titleaside">Categorias</h2>
        <label for="Tecnologia"><li>Tecnologia</li></label>
        <label for="Estilo de Vida"><li>Estilo de Vida</li></label>               
        <label for="Arte"><li>Arte</li></label>                
        <label for="Comida"><li>Comida</li></label>                
        <label for="Aventura"><li>Aventura</li></label>               
        <label for="Moda"><li>Moda</li></label> 
    </ul>
    <h2 class="titleaside" id="sect">Publicidade</h2>
    <ul id="pub">
        <li><img src="./pub.png" alt="pub"></li>
        <li><img src="./pub.png" alt="pub"></li>
    </ul>
</aside>